@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
body {
      font-family: 'Libre Baskerville', serif;
     }

#one {
      font-size: 22;
      background-color: lightblue;
     }
.w-100 {
        height: 600px;
       }
.y {
    background-color: skyblue;
    margin-top: 20px;
   }
#x {
    color: white;
    font-size: 20px;
   }
#y {
    color: white;
    font-size:20px;
   }
#z {
    color: white;
    font-size: 20px;
   }
#m {
    height: 205px;
   }
#a{
    background-color: darkcyan;
    font-size: 10px;
    padding-bottom: 0;
  }
.n {
    margin-left: 0;
   }
